body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#topnavbar{
    box-shadow: 0px 1.5px rgb(194, 194, 194);
}

.navigration{
    margin-top: -0.5rem;  
    margin-left: 1rem; 
    margin-right: 1rem; 
}

.navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
}


.navbaritems{
    margin-left: -25rem;
}

.navbaritems ul{
    display:flex;
}

.navbaritems ul li{
    display:flex;
    margin-left: 2rem;
}

.help{
    display:flex;
}


.newnavbar{
    display: flex;
    align-items: center;
    justify-content:center;
}

.newitems ul{
    display: flex;
}

.newitems {
    font-size: 0.8rem;
}

.newlogo h3{
    margin-left: -23rem;
}

.newitems ul li{
    display: flex;
    margin-left: 1rem;
}

/* .main{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.graphimg{
    max-width: 53rem;
    margin-left: 2rem;
}

.rightbox{
    display: flex;
    justify-content: space-between;
}

.freaturescontainer{
    display: flex;
    justify-content:center
}

/* .firstrow{
    display: flex;
} */

.user{
    margin-top: -2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.center{
    margin-left: 1.5rem;
    text-align: center;
}

/* .secondrow{
    display: flex;
} */

.time{
    margin-top: -2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.center{
    margin-left: 1.5rem;
    text-align: center;
}

.bottom{
    margin-top: 1.5rem;
}